.font_xs {
	font-size: var(--font-xs);
}

.font_2xs {
	font-size: var(--font-2xs);
}

.font_3xs {
	font-size: var(--font-3xs);
}

.font_xl {
	font-size: var(--font-xl);
}

.font_2xl {
	font-size: var(--font-2xl);
}

.font_3xl {
	font-size: var(--font-3xl);
}
