:root {
	--font-basee: 14px;
	--font-xl: calc(var(--font-basee) + 2px);
	--font-2xl: calc(var(--font-basee) + 4px);
	--font-3xl: calc(var(--font-basee) + 10px);
	--font-4xl: calc(var(--font-basee) + 22px);
	--font-xs: calc(var(--font-basee) - 1px);
	--font-2xs: calc(var(--font-basee) - 2px);
	--font-3xs: calc(var(--font-basee) - 3px);
}
